@mixin clearfix {
    &:before,
    &:after {
        content: '';
        display: table;
    } //before, after
    &:after {
        clear: both;
    } //after 
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

button {
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
    font-size: 100%;
    vertical-align: baseline;
    font-family: inherit;
    color: inherit;
    -webkit-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}

body {
    font: 14px 'Trebuchet MS Light', Helvetica, Arial, sans-serif;
    line-height: 1.4em;
    background: #81BCB8;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

button,
input[type="checkbox"] {
    outline: none;
}

#todoapp {
    width: 100%;
    max-width: 600px;
    padding: 0 20px;
    margin: 0 auto;
    & input::-webkit-input-placeholder {
    	font-size: 20px;
        font-style: italic;
        color: #fff;
        @media screen and (max-width: 640px) {
            font-size: 16px;
        }
    }
    & input::-moz-placeholder {
        font-style: italic;
        color: #fff;
    }
    @media screen and (max-width: 640px) {
        padding: 0 10px;
        }
}

.list-title {
	padding-top: 20px;
    font-size: 50px;
    font-weight: 100;
    text-align: center;
    text-transform: uppercase;
    @media screen and (max-width: 640px) {
        font-size: 36px;
    }
}

#new-todo,
.edit {
    position: relative;
    margin: 0;
    width: 100%;
    font-size: 18px;
    font-family: inherit;
    line-height: 1.4em;
    border: 0;
    outline: none;
    color: inherit;
    padding: 6px;
    border: 1px solid #999;
    box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

#new-todo {
	margin: 10px 0;
    padding: 16px 16px 16px 20px;
    border: none;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    z-index: 2;
    box-shadow: none;
    @media screen and (max-width: 640px) {
        padding: 10px 10px 10px 20px;
    }
}

.todo-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.todo-item {
    position: relative;
    font-size: 24px;
    background: #fff;
    border-radius: 5px;
    margin: 5px 0;
    .todo-content {
        color: #262626;
        white-space: pre;
        word-break: break-word;
        padding: 15px 60px 15px 15px;
        margin-left: 45px;
        display: block;
        line-height: 1.2;
        -webkit-transition: color 0.4s;
        transition: color 0.4s;
    }
    &:hover .todo-remove {
        display: block;
    }
}
@media screen and (max-width: 640px) {
    .todo-item {
        font-size: 18px;
        .todo-content {
            line-height: 0.8;
            padding: 15px 40px 15px 15px;
        }
    }
}

.todo-item.editing {
    color: #262626;
    border-bottom: none;
    padding: 0;
    & .edit {
        display: block;
        width: 80%;
        padding: 10px 10px 10px 10px;
        margin: 0 0 0 40px;
    }
    & .view {
        display: none;
    }
    &:last-child {
        margin-bottom: -1px;
    }
}

.todo-item.completed {
    background: #CCE4E3;
    & label {
        color: #496160;
        text-decoration: line-through;
    }
}

.todo-item .edit {
    display: none;
}

.todo-item .todo-check {
    text-align: center;
    width: 40px;
    /* auto, since non-WebKit browsers doesn't support input styling */
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    /* Mobile Safari */
    border: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    &:hover {
        -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
    }
    &:after {
        content: '✔';
        /* 40 + a couple of pixels visual adjustment */
        line-height: 60px;
        font-size: 20px;
        color: #ecf0f1;
        text-shadow: 0 -1px 0 #bfbfbf;
        @media screen and (max-width: 640px) {
            line-height: 45px;
        }
    }
    &:checked:after {
        color: #85ada7;
        text-shadow: 0 1px 0 #669991;
        bottom: 1px;
        position: relative;
    }
}

.todo-item .todo-remove {
    display: none;
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;
    width: 40px;
    height: 40px;
    margin: auto 0;
    font-size: 22px;
    color: #e74c3c;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    &:hover {
        text-shadow: 0 0 1px #e74c3c, 0 0 10px rgba(0, 0, 0, 0.2);
        -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
    }
    &:after {
        content: '✖';
    }
    @media screen and (max-width: 640px) {
        font-size: 18px;
        right: 5px;
        width: 30px;
        height: 30px;
    }
}

.list-footer {
	margin-top: 10px;
    color: #fff;
    padding: 0 15px;
    right: 0;
    bottom: -31px;
    left: 0;
    height: 20px;
    z-index: 1;
    text-align: center;
    &:before {
        content: '';
        right: 0;
        bottom: 31px;
        left: 0;
        height: 50px;
        z-index: -1;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), 0 6px 0 -3px rgba(255, 255, 255, 0.8), 0 7px 1px -3px rgba(0, 0, 0, 0.3), 0 43px 0 -6px rgba(255, 255, 255, 0.8), 0 44px 2px -6px rgba(0, 0, 0, 0.2);
    }
    .list-status {
        @include clearfix;
    }
}

#todo-count {
    float: left;
    text-align: left;
}

#filters {
    display: block;
    @include clearfix;
    margin: 0;
    padding: 0;
    list-style: none;
    & li {
        display: inline-block;
        & a {
            color: #fff;
            margin: 5px;
            text-decoration: none;
        }
        & a.selected {
            font-weight: bold;
        }
    }
    // @media screen and (max-width: 640px) {
    //     position: relative;
    //     top: 40px;
    //     @include clearfix;
    // }
}

#clear-completed {
    display: block;
    float: right;
    line-height: 20px;
    text-decoration: none;
    background: rgba(0, 0, 0, 0.1);
    font-size: 11px;
    padding: 0 10px;
    border-radius: 3px;
    box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.2);
    &:hover {
        background: rgba(0, 0, 0, 0.15);
        box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.3);
    }
}
